
html {
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: larger;

  background: #3A6ED4;
  color: white;
}

body {
  padding: 8px;
}

a {
  color: white;
}

main {
  max-width: 400px;
}


* {
  position: relative;
}

.puzzle-piece {
  user-select: none;
  touch-action: none;
}

/* Device-specific */

.only-touch {
  display: none;
}

@media (any-hover: none) {
  .only-touch {
    display: block;
  }
  .only-mouse {
    display: none;
  }
}

@media print {
  html {
    background: transparent;
    color: black;
  }
}
